.cm-color-orange {
  background-color: #f4792b !important;
}
.cm-color-dark-green {
  background-color: #00853e !important;
}
.text-cm-success {
  color: #006900;
}
.btn {
  font-size: 14px;
  border-radius: 0;
  border-bottom: none;
}
.btn-success {
  background-color: #5cad3a !important;
  border-radius: 0;
  border-bottom: none;
}
.btn-primary {
  background-color: #337AB7;
  border-radius: 0;
  border-bottom: none;
}
.btn-info {
  border-radius: 0;
  border-bottom: none;
}
.btn-danger {
  background-color: #d9534f;
  border-radius: 0;
  border-bottom: none;
}
.btn-warning {
  background-color: #f0ad4e;
  border-radius: 0;
  border-bottom: none;
}
.btn-cm {
  background-color: #f4792b;
  border-radius: 0;
  border-bottom: none;
}
.btn-label {
  padding: 1px 12px;
  font-size: 12.5px;
}
.btn-cm:hover {
  box-shadow: 0 1px 1px #f4792b inset, 0 0 8px #f4792b;
  color: white;
}
.btn-cm:active,
.btn-cm:focus {
  color: white;
}
.btn.btn-success:hover {
  box-shadow: 0 1px 1px #5cad3a inset, 0 0 8px #5cad3a;
}
.btn-primary:hover {
  box-shadow: 0 1px 1px #337ab7 inset, 0 0 8px #337ab7;
}
.modal-dialog,
.modal-header,
.modal-footer,
.modal-content {
  border-radius: 0;
}
.input-group-flat {
  height: 34px;
}
.input-group-flat .input-group-addon {
  border-radius: 0;
}
.km-switch {
  cursor: pointer;
}
.kendo-date-picker .k-datepicker,
.kendo-date-picker .k-datepicker-wrap,
.kendo-date-picker input {
  padding: 0 !important;
  height: 32px !important;
  display: block;
}
.kendo-date-picker .k-picker-wrap {
  border-radius: 0;
}
.kendo-date-picker .k-input {
  border-radius: 0;
}
.kendo-date-picker .k-select {
  border-radius: 0;
  line-height: 30px;
}
.kendo-combobox .k-dropdown,
.kendo-combobox .k-dropdown-wrap,
.kendo-combobox .k-input,
.kendo-combobox .k-select {
  height: 32px !important;
  padding: 0 !important;
}
.kendo-combobox .k-dropdown-wrap {
  border-radius: 0;
}
.kendo-combobox .k-dropdown-wrap input {
  height: 32px !important;
  border-radius: 0;
}
.kendo-autocomplete ak-autocomplete {
  border-radius: 0;
  margin-top: 0;
  height: 34px;
}
.kendo-autocomplete ak-autocomplete span.k-autocomplete {
  height: inherit;
  border-radius: 0 !important;
}
.kendo-autocomplete ak-autocomplete input {
  border-radius: 0 !important;
  height: 27px !important;
}
.kendo-autocomplete ak-autocomplete span.k-autocomplete {
  margin: 0;
  padding: 0;
}
.kendo-dropdown .k-dropdown,
.kendo-dropdown .k-dropdown-wrap {
  height: 32px;
  border-radius: 0;
}
.kendo-dropdown .k-input {
  padding-bottom: 0;
  padding-top: 4px;
}
.dataTables_filter > label {
  float: left;
  margin: 0;
}
table.dataTable {
  width: inherit !important;
  margin-top: 1px !important;
  margin-bottom: 0 !important;
}
.dataTables_wrapper > div:nth-child(1) {
  background-color: #5cad3a;
}
.dataTables_wrapper > div:nth-child(1) .grid-actions {
  width: 180px;
  display: inline-block;
  margin-left: 15px;
}
.dataTables_wrapper > div:nth-child(1) .dataTables_length {
  display: none;
}
.dataTables_wrapper > div:nth-child(1) .col-xs-12 {
  padding: 3px 0;
  color: white;
  font-size: 18px;
}
.dataTables_wrapper > div:nth-child(1) .col-xs-12 input {
  width: 200px;
}
.dataTables_wrapper > div:nth-child(2) {
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0 !important;
}
.dataTables_wrapper > div:nth-child(2) td {
  border-top: 1px solid rgba(225, 225, 225, 0.8);
  border-left: 1px solid rgba(225, 225, 225, 0.8);
  border-right: 1px solid rgba(225, 225, 225, 0.8);
  padding-left: 5px;
}
.dataTables_wrapper > div:nth-child(2) th {
  height: 35px;
  background-color: #485965;
  color: white;
  margin: 0;
  padding: 0 10px;
  border-left: 1px solid rgba(72, 89, 101, 0.5);
  border-right: 1px solid rgba(72, 89, 101, 0.5);
}
.dataTables_wrapper > div:nth-child(2) .col-sm-12 {
  padding: 0;
  margin: 0;
}
.dataTables_wrapper > div:nth-child(3) {
  background-color: #5cad3a;
  color: white;
  padding: 0 0 4px 0;
  margin-top: 0;
}
.dataTables_wrapper > div:nth-child(3) .dataTables_info {
  padding: 7px 10px 4px 10px;
  font-size: 14px;
}
.dataTables_wrapper > div:nth-child(3) .pagination {
  margin: 0 !important;
}
.dataTables_wrapper > div:nth-child(3) .dataTables_paginate {
  padding-top: 0;
}
.dataTables_wrapper > div:nth-child(3) .dataTables_paginate a {
  border-radius: 0;
  padding: 2px 8px;
}
.dataTables_wrapper {
  margin: 0 15px;
  padding: 0 10px;
}
.dataTables_wrapper th.sorting {
  font-weight: normal;
}
.dataTables_wrapper th::after {
  bottom: 7px !important;
}
.dataTables_wrapper .dataTables_scrollBody {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
.dataTables_wrapper .dataTables_scrollHeadInner {
  padding-right: 0px !important;
  width: inherit !important;
}
.dataTables_wrapper .dataTables_scrollHeadInner .dataTable {
  width: inherit !important;
  margin: 0 !important;
}
.dataTables_wrapper .dataTables_filter {
  padding-left: 20px;
  text-align: left;
  color: white;
}
.dataTables_wrapper .dataTables_filter input[type='search'] {
  height: 33px;
}
.k-dialog {
  border-radius: 0;
}
.k-dialog .k-button {
  border-radius: 0;
}
.k-dialog .k-content {
  display: none;
}
ai-dialog-overlay.active,
ai-dialog-overlay {
  background-color: black !important;
  opacity: .42 !important;
}
ai-dialog-body {
  padding: 0 !important;
}
ai-dialog-body .cm-modal-header {
  position: relative;
  margin: 0 15px;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
}
ai-dialog-body .cm-modal-header h2 {
  margin: 0;
}
ai-dialog-body .cm-modal-header .cm-close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 28px;
  width: 28px;
  cursor: pointer;
  background: url(/Content/images/1473912285_basics-22.svg);
}
.k-dropdown,
.k-dropdown-wrap {
  border-radius: 0;
}
