.cm-color-orange {
  background-color: #f4792b !important;
}
.cm-color-dark-green {
  background-color: #00853e !important;
}
.text-cm-success {
  color: #006900;
}
.k-validation-error,
.k-ddl-validation-error,
.k-dp-validation-error {
  color: #bd0000;
  position: absolute;
  top: 8px;
}
.k-ddl-validation-error {
  right: 25px;
}
.k-dp-validation-error {
  right: 35px;
}
.password-requirement {
  width: 100%;
}
.password-success {
  color: #006900 !important;
}
.password-fail {
  color: #bd0000 !important;
}
.password-required {
  color: #bd0000 !important;
}
.password-required::before {
  display: block;
  margin-top: 10px;
}
.v-error i {
  color: #d9534f;
}
.v-success i {
  color: #006900;
}
.cm-error-message {
  position: absolute;
  top: 36px;
  left: 0px;
  color: #bd0000;
  font-size: 13px;
  font-style: italic;
}
