@import url(https://fonts.googleapis.com/css?family=Open+Sans);
.cm-color-orange {
  background-color: #f4792b !important;
}
.cm-color-dark-green {
  background-color: #00853e !important;
}
.text-cm-success {
  color: #006900;
}
.k-validation-error,
.k-ddl-validation-error,
.k-dp-validation-error {
  color: #bd0000;
  position: absolute;
  top: 8px;
}
.k-ddl-validation-error {
  right: 25px;
}
.k-dp-validation-error {
  right: 35px;
}
.password-requirement {
  width: 100%;
}
.password-success {
  color: #006900 !important;
}
.password-fail {
  color: #bd0000 !important;
}
.password-required {
  color: #bd0000 !important;
}
.password-required::before {
  display: block;
  margin-top: 10px;
}
.v-error i {
  color: #d9534f;
}
.v-success i {
  color: #006900;
}
.cm-error-message {
  position: absolute;
  top: 36px;
  left: 0px;
  color: #bd0000;
  font-size: 13px;
  font-style: italic;
}
.btn {
  font-size: 14px;
  border-radius: 0;
  border-bottom: none;
}
.btn-success {
  background-color: #5cad3a !important;
  border-radius: 0;
  border-bottom: none;
}
.btn-primary {
  background-color: #337AB7;
  border-radius: 0;
  border-bottom: none;
}
.btn-info {
  border-radius: 0;
  border-bottom: none;
}
.btn-danger {
  background-color: #d9534f;
  border-radius: 0;
  border-bottom: none;
}
.btn-warning {
  background-color: #f0ad4e;
  border-radius: 0;
  border-bottom: none;
}
.btn-cm {
  background-color: #f4792b;
  border-radius: 0;
  border-bottom: none;
}
.btn-label {
  padding: 1px 12px;
  font-size: 12.5px;
}
.btn-cm:hover {
  box-shadow: 0 1px 1px #f4792b inset, 0 0 8px #f4792b;
  color: white;
}
.btn-cm:active,
.btn-cm:focus {
  color: white;
}
.btn.btn-success:hover {
  box-shadow: 0 1px 1px #5cad3a inset, 0 0 8px #5cad3a;
}
.btn-primary:hover {
  box-shadow: 0 1px 1px #337ab7 inset, 0 0 8px #337ab7;
}
.modal-dialog,
.modal-header,
.modal-footer,
.modal-content {
  border-radius: 0;
}
.input-group-flat {
  height: 32px;
}
.input-group-flat .input-group-addon {
  border-radius: 0;
}
.km-switch {
  cursor: pointer;
}
.kendo-date-picker .k-datepicker,
.kendo-date-picker .k-datepicker-wrap,
.kendo-date-picker input {
  padding: 0 !important;
  height: 32px !important;
  display: block;
}
.kendo-date-picker .k-picker-wrap {
  border-radius: 0;
}
.kendo-date-picker .k-input {
  border-radius: 0;
}
.kendo-date-picker .k-select {
  border-radius: 0;
  line-height: 30px;
}
.kendo-combobox .k-dropdown,
.kendo-combobox .k-dropdown-wrap,
.kendo-combobox .k-input,
.kendo-combobox .k-select {
  height: 32px !important;
  padding: 0 !important;
}
.kendo-combobox .k-dropdown-wrap {
  border-radius: 0;
}
.kendo-combobox .k-dropdown-wrap input {
  height: 32px !important;
  border-radius: 0;
}
.kendo-autocomplete ak-autocomplete {
  border-radius: 0;
  margin-top: 0;
  height: 34px;
}
.kendo-autocomplete ak-autocomplete span.k-autocomplete {
  height: inherit;
  border-radius: 0 !important;
}
.kendo-autocomplete ak-autocomplete input {
  border-radius: 0 !important;
  height: 27px !important;
}
.kendo-autocomplete ak-autocomplete span.k-autocomplete {
  margin: 0;
  padding: 0;
}
.kendo-dropdown .k-dropdown,
.kendo-dropdown .k-dropdown-wrap {
  height: 30px;
  border-radius: 0;
}
.kendo-dropdown .k-input {
  padding-bottom: 0;
  padding-top: 4px;
}
.dataTables_filter > label {
  float: left;
  margin: 0;
}
table.dataTable {
  width: inherit !important;
  margin-top: 1px !important;
  margin-bottom: 0 !important;
}
.dataTables_wrapper > div:nth-child(1) {
  background-color: #5cad3a;
}
.dataTables_wrapper > div:nth-child(1) .grid-actions {
  width: 180px;
  display: inline-block;
  margin-left: 15px;
}
.dataTables_wrapper > div:nth-child(1) .dataTables_length {
  display: none;
}
.dataTables_wrapper > div:nth-child(1) .col-xs-12 {
  padding: 3px 0;
  color: white;
  font-size: 18px;
}
.dataTables_wrapper > div:nth-child(1) .col-xs-12 input {
  width: 200px;
}
.dataTables_wrapper > div:nth-child(2) {
  background-color: white;
  margin-top: 0;
  margin-bottom: 0;
  padding-bottom: 0;
  padding-top: 0 !important;
}
.dataTables_wrapper > div:nth-child(2) td {
  border-top: 1px solid rgba(225, 225, 225, 0.8);
  border-left: 1px solid rgba(225, 225, 225, 0.8);
  border-right: 1px solid rgba(225, 225, 225, 0.8);
  padding-left: 5px;
}
.dataTables_wrapper > div:nth-child(2) th {
  height: 35px;
  background-color: #485965;
  color: white;
  margin: 0;
  padding: 0 10px;
  border-left: 1px solid rgba(72, 89, 101, 0.5);
  border-right: 1px solid rgba(72, 89, 101, 0.5);
}
.dataTables_wrapper > div:nth-child(2) .col-sm-12 {
  padding: 0;
  margin: 0;
}
.dataTables_wrapper > div:nth-child(3) {
  background-color: #5cad3a;
  color: white;
  padding: 0 0 4px 0;
  margin-top: 0;
}
.dataTables_wrapper > div:nth-child(3) .dataTables_info {
  padding: 7px 10px 4px 10px;
  font-size: 14px;
}
.dataTables_wrapper > div:nth-child(3) .pagination {
  margin: 0 !important;
}
.dataTables_wrapper > div:nth-child(3) .dataTables_paginate {
  padding-top: 0;
}
.dataTables_wrapper > div:nth-child(3) .dataTables_paginate a {
  border-radius: 0;
  padding: 2px 8px;
}
.dataTables_wrapper {
  margin: 0 15px;
  padding: 0 10px;
}
.dataTables_wrapper th.sorting {
  font-weight: normal;
}
.dataTables_wrapper th::after {
  bottom: 7px !important;
}
.dataTables_wrapper .dataTables_scrollBody {
  overflow-x: hidden !important;
  overflow-y: scroll !important;
}
.dataTables_wrapper .dataTables_scrollHeadInner {
  padding-right: 0px !important;
  width: inherit !important;
}
.dataTables_wrapper .dataTables_scrollHeadInner .dataTable {
  width: inherit !important;
  margin: 0 !important;
}
.dataTables_wrapper .dataTables_filter {
  padding-left: 20px;
  text-align: left;
  color: white;
}
.dataTables_wrapper .dataTables_filter input[type='search'] {
  height: 33px;
}
.k-dialog {
  border-radius: 0;
}
.k-dialog .k-button {
  border-radius: 0;
}
.k-dialog .k-content {
  display: none;
}
ai-dialog-overlay.active,
ai-dialog-overlay {
  background-color: black !important;
  opacity: .42 !important;
}
ai-dialog-body {
  padding: 0 !important;
}
ai-dialog-body .cm-modal-header {
  position: relative;
  margin: 0 15px;
  border-bottom: 1px solid #e5e5e5;
  padding: 15px;
}
ai-dialog-body .cm-modal-header h2 {
  margin: 0;
}
ai-dialog-body .cm-modal-header .cm-close-modal {
  position: absolute;
  top: 15px;
  right: 15px;
  height: 28px;
  width: 28px;
  cursor: pointer;
  background: url(/Content/images/1473912285_basics-22.svg);
}
.k-dropdown,
.k-dropdown-wrap {
  border-radius: 0;
}
/* #region Main */
html {
  font-family: Segoe, "Segoe UI", "DejaVu Sans", "Trebuchet MS", Verdana, sans-serif;
  height: 100%;
  min-height: 100%;
  position: relative;
}
body {
  height: 100%;
}
input[type='checkbox'] {
  height: inherit !important;
  width: inherit !important;
}
input[type='text'],
input[type='password'],
input[type='email'],
input[type='tel'],
input[type='search'] {
  border-radius: 0;
}
.window {
  min-height: 100%;
}
.phone-number {
  width: 190px;
}
.page-content-row {
  display: block;
  overflow: hidden;
  padding: 60px 15px 50px 15px;
}
.cm-page-header {
  margin: 15px 0 15px 0;
  padding: 0;
}
.mobile-brand {
  background: url(/Content/images/CM-Green-Circles.png);
}
.cm-label {
  font-size: 13px;
  font-weight: 500;
  margin-bottom: 0;
}
.splash {
  text-align: center;
  margin: 0 0 0 0;
  box-sizing: border-box;
  cursor: wait;
}
.splash .message {
  font-size: 72px;
  line-height: 72px;
  text-shadow: rgba(0, 0, 0, 0.5) 0 0 15px;
  text-transform: uppercase;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}
.splash .fa-spinner {
  text-align: center;
  display: inline-block;
  font-size: 72px;
  margin-top: 50px;
}
/* #endregion */
/*#region Bootstrap Overrides*/
/*#endregion*/
/* #region Login */
#login-window > .row:nth-child(2) {
  padding-top: 100px;
  padding-bottom: 100px;
}
#login-window > .row:nth-child(2) > div:nth-child(2) {
  margin-top: 20px;
}
#login-window .row {
  margin: 0;
}
#login-window .login-card,
#login-window .login-help {
  width: 300px;
  margin: 0 auto;
}
#login-window .login-message {
  background-color: #d9534f;
  color: white;
  border-radius: 0;
  display: block;
  padding: 5px;
  border: none;
  margin: 10px 8px 0 8px;
}
#login-window .login-help .col-xs-6 {
  padding: 0;
}
#login-window .login-help .col-xs-6 div {
  background-color: rgba(43, 47, 47, 0.7);
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px 1px;
  padding-top: 15px;
  padding-bottom: 15px;
}
#login-window .login-help .col-xs-6 div a {
  color: white;
}
#login-window .login-help .col-xs-6 .login-help-left {
  margin-right: 5px;
  cursor: pointer;
}
#login-window .login-help .col-xs-6 .login-help-right {
  margin-left: 5px;
  cursor: pointer;
}
#login-window .login-help .col-xs-6 .login-help-left > a:hover,
#login-window .login-help .col-xs-6 .login-help-right > a:hover {
  text-decoration: none;
}
#login-window .login-card {
  background-color: rgba(43, 47, 47, 0.7);
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px 1px;
}
#login-window .login-card .login-card-header {
  font-size: 16px;
  color: white;
  padding-top: 15px;
}
#login-window .login-card .login-card-contents {
  padding: 20px 8px 8px;
}
#login-window .login-card .login-card-contents .login-options-remember-me {
  padding: 0;
  height: 40px;
}
#login-window .login-card .login-card-contents .login-options-remember-me input[type='checkbox'] {
  float: left;
  display: block;
  width: 30px !important;
  height: 30px !important;
}
#login-window .login-card .login-card-contents .login-options-remember-me span {
  float: left;
  padding-top: 6px;
  display: block;
  height: 30px;
  margin-left: 10px;
}
#login-window .login-card .login-card-contents .input-group {
  margin: 20px 0;
}
#login-window .login-card .login-card-contents .input-group .cm-error-message {
  margin-top: 5px;
}
#login-window .login-card .login-card-contents .col-xs-6 {
  margin: 0;
  padding: 0;
  text-align: left;
}
#login-window .login-card .login-card-contents .login-options {
  margin: 9px 0 7px 0;
  color: white;
}
#login-window .login-card .login-card-contents input[type='text'],
#login-window .login-card .login-card-contents input[type='password'] {
  height: 41px;
}
#login-window .login-card .login-card-contents span {
  margin-top: 3px;
}
#login-window .login-card .login-card-contents button {
  width: 100%;
}
#login-window .login-card .login-card-contents p {
  color: white;
  font-size: 20px;
}
/* #endregion */
.cm-validation {
  background-color: darkred !important;
  color: white !important;
  border: 0 !important;
}
.invalid-verification-code {
  margin: 3px 15px 3px 15px;
  border-width: 2px;
  border-color: maroon;
  border-style: solid;
  background-color: darkred;
  color: white;
  -ms-border-radius: 5px;
  border-radius: 5px;
  padding: 0 3px 0 3px;
}
.requirements-container {
  border: 1px solid #ccc;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-top: 3px;
  margin-bottom: 3px;
  width: 100%;
  padding-left: 8px;
  background-color: white;
  color: black;
  text-align: left;
}
.requirements-container ul {
  list-style-type: none;
  padding: 8px 0 0 0;
}
.requirements-container-left {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin-top: 3px;
  width: 100%;
  padding-left: 15px;
}
.requirements-container-left ul {
  list-style-type: none;
  padding: 8px 0 0 0;
}
.requirements-container-right {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin: 3px 0 0 0;
  width: 100%;
  padding-left: 15px;
}
.requirements-container-right ul {
  list-style-type: none;
  padding: 8px 0 0 0;
}
.requirements-container-full {
  border: 1px solid #ccc;
  border-radius: 4px;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075);
  margin: 0;
  margin: 3px 0 0 0;
  width: 100%;
  padding-left: 15px;
}
.requirements-container-full ul {
  list-style-type: none;
  padding: 8px 0 0 0;
}
.manage-credit-nav-row {
  outline: none;
  border-color: black;
  box-shadow: 0 0 10px 0 black;
  background-color: #eae9e9;
  padding: 5px 0 5px 0;
}
.manage-credit-items-logo {
  padding: 10px 0 0 30px;
}
.container-full {
  margin: 0 auto;
  width: auto;
  overflow: hidden;
}
.container-content {
  margin: 0 auto;
  width: 95%;
}
.management-items-button {
  width: 100%;
  height: 40px;
  background-color: #00853e;
  color: white;
  padding-top: 10px;
  margin: 2px 0 2px 1px;
}
#management-manage-credit-items-generate-letters button {
  width: 250px !important;
}
.initial-setup-nav {
  border-right: 1px solid lightgray;
}
.initial-setup-nav div {
  width: 100% !important;
  margin: 12px 0 12px 0;
  cursor: pointer;
}
.initial-setup-nav div:hover {
  font-size: 16px;
  font-weight: bold;
  color: #00853e;
}
.no-padding {
  padding: 0 !important;
}
.initial-setup-container {
  padding: 0;
}
.initial-setup-container span[data-class=address-header] {
  margin-top: 12px;
  font-weight: bold;
}
.initial-setup-container span[data-class=content-header] {
  font-size: 24px;
}
.initial-setup-container span[data-class=content-sub-header] {
  margin-top: 8px;
}
.initial-setup-container div[data-class=content] {
  margin: 12px 0 0 0 !important;
  padding: 0 12px 0 12px;
  min-height: 200px;
  width: 100% !important;
}
.initial-setup-container div[data-class=content] .row {
  margin-right: 15px;
}
.initial-setup-container div[data-class=buttons-container] button {
  margin: 12px 3px 0 3px;
}
#main-layout-page-nav div[data-class=login-buttons] {
  padding-right: 22px;
}
#main-layout-page-nav a[data-class=nav-main-button] {
  font-size: 18px;
  font-weight: 400;
}
#main-layout-page-nav span[data-class=current-user] {
  padding-left: 18px;
  font-weight: 600;
}
#main-layout-page-nav a {
  color: black !important;
}
#main-layout-page-nav a[data-class=nav-main-button]:hover {
  color: #5cad3a !important;
}
#main-layout-page-nav .btn {
  color: white;
}
#main-layout-page-nav .navbar-header a {
  margin: 5px 0 0 0;
  background-image: url(http://gocreditmatters.com/Images/Logo-Master.png);
  height: 100px;
  width: 200px;
  background-repeat: no-repeat;
}
#main-layout-page-nav .navbar-header button {
  margin-top: 32px;
}
#main-layout-page-nav ul[data-class=nav-links] {
  padding-top: 30px;
}
#main-layout-page-nav #user-options {
  padding-top: 12px;
}
#main-layout-page-nav #user-options button[data-class=buy-now] {
  width: 100%;
}
#main-layout-page-nav #logged-in-user-options {
  padding-top: 30px;
}
#main-layout-page-nav #logged-in-user-options a:hover {
  cursor: pointer;
}
#main-layout-page-nav .dropdown-menu {
  border-radius: 5px;
}
#main-layout-page-nav #main-videos-dropdown ul {
  width: 230px !important;
}
#cm-navbar-collapse.in button {
  width: 92%;
  margin: 15px;
}
.navbar-default {
  background-color: #f2eeee !important;
}
.navbar-fixed-bottom {
  margin-bottom: 20px;
}
.navbar {
  margin-bottom: 8px !important;
}
#loggin-in-nav-pills a:hover {
  cursor: pointer;
}
#loggin-in-nav-pills .active {
  background-color: #5cad3a;
  color: white;
}
#loggin-in-nav-pills .inactive {
  background-color: #f2eeee;
  color: black;
}
#loggin-in-nav-pills .inactive:hover {
  color: #5cad3a;
}
#manage-credit-items-collapse-nav-button {
  background-color: #5cad3a;
  width: 93%;
}
.main-page-header {
  margin-bottom: 15px;
}
.main-page-header span {
  border-bottom: 2px solid lightgray;
}
.page-host {
  min-height: 100%;
}
.page-host > router-view > div {
  min-height: 100vh;
}
.page-host > router-view > div #blank-layout-content,
.page-host > router-view > div #blank-layout-content > div {
  height: inherit;
}
#main-layout-page {
  min-height: 100%;
  height: initial;
}
#login-username-password-container {
  padding: 8px;
}
#login-username-password-container p {
  padding-left: 18px;
  padding-right: 18px;
}
#login-username-password-validation-container {
  padding-left: 14px;
  padding-right: 14px;
}
#login-help-container {
  padding: 0 40px 0 40px;
}
#login-help-container button {
  margin: 1px 0 1px 0;
  width: 100%;
}
.table-padding-2 td {
  padding: 2px;
}
.container-padding-013013 {
  padding: 0 13px 0 13px;
}
.margin-between {
  margin: 4px 0 4px 0;
}
.btn-input-group {
  padding: 0 6px 0 6px;
  height: 20px;
  font-size: 13px;
  border: none;
}
.toggle-button-container div[aria-pressed=false] {
  background-color: #d9534f !important;
  color: white;
}
.toggle-button-container div[aria-pressed=true] {
  background-color: #00853e !important;
  color: white;
}
#my-profile-change-password div {
  margin: 4px 0 4px 0;
}
#my-profile-change-password button {
  margin-top: 12px;
}
.drop-down-in-label label {
  margin-bottom: 10px !important;
}
.drop-down-in-label .k-icon {
  margin-top: 10px;
}
.page-header-row-desktop {
  display: block;
  overflow: hidden;
  right: 0;
  left: 260px;
  padding: 0;
  position: fixed;
  height: 60px;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(146, 228, 184, 0.7);
}
.page-header-row-mobile {
  display: block;
  overflow: hidden;
  right: 0;
  left: 0;
  padding: 0;
  position: fixed;
  height: 60px;
  box-shadow: 1px 1px 8px 2px rgba(0, 0, 0, 0.1);
  background-color: rgba(146, 228, 184, 0.7);
  z-index: 998;
}
.page-header-row-mobile .header-button-mobile {
  float: right;
  width: 60px;
  display: block;
  height: 100%;
  padding: 6px 8px 3px 8px;
  cursor: pointer;
  color: #485965;
  border-bottom: 2px solid rgba(0, 133, 62, 0.44);
  margin-right: 3px;
}
.page-header-row-mobile .header-button-no-border {
  float: right;
  width: 60px;
  display: block;
  height: 100%;
  padding: 6px 8px 3px 8px;
  cursor: pointer;
  color: #485965;
}
.log-out {
  margin-top: 50px;
}
.profile-message {
  cursor: pointer;
  margin-bottom: 15px;
}
.profile-message span {
  margin-left: 10px;
  color: #c88421;
}
.profile-message i {
  color: #c88421;
  padding-left: 35px;
}
.active-selection:before {
  content: "\00a0\f111";
  font-family: FontAwesome;
  color: #5cad3a;
  padding-right: 10px;
  margin-left: -26px;
  margin-bottom: -10px;
}
/*#region Drawer*/
#drawer-trigger:hover {
  cursor: pointer;
}
#drawer-trigger {
  background-color: transparent;
  position: fixed;
  top: 20px;
  left: 15px;
  width: 40px;
  z-index: 999;
  cursor: pointer;
}
#drawer-trigger .drawer-line {
  height: 2px;
  background-color: #485965;
  line-height: 2px;
}
#drawer-trigger div:nth-child(1) {
  margin-top: 0;
  padding: 0;
}
#drawer-trigger div:nth-child(2) {
  margin-top: 7px;
  padding: 0;
}
#drawer-trigger div:nth-child(3) {
  margin-top: 7px;
  padding: 0;
}
.drawer-header {
  height: 125px;
  margin: 15px 0 0 15px;
}
.drawer {
  background-color: #374c5d;
  min-height: 100vh;
  width: 260px;
  float: left;
}
.drawer div[data-role='content'] {
  background-color: inherit;
}
.drawer ul {
  list-style: none;
  list-style-image: none;
  line-height: 1.6;
  display: block;
  width: 100%;
  padding: 0;
  margin: 0;
}
.drawer ul li {
  width: 100%;
  padding: 5px 0 5px 35px;
  height: auto;
  border-top: 1px solid #24323d;
  border-bottom: 1px solid #3f566a;
  box-shadow: inset -1px 0 2px 0.5px #22323e;
  text-decoration: none;
  font-size: 18px;
  font-weight: 400;
  color: white;
}
.drawer ul li a,
.drawer ul li a:hover,
.drawer ul li a:active {
  text-decoration: none;
  color: white;
}
.drawer ul li:hover {
  cursor: pointer;
  background-color: #00853e;
}
/*#endregion*/
.table-card {
  width: 100%;
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(0, 0, 0, 0.075);
}
.table-card thead {
  color: white;
  font-size: 20px;
}
.table-card thead tr {
  background-color: #5cad3a;
}
.table-card thead tr th {
  padding: 5px 0 5px 20px;
  border: 1px solid #5cad3a;
}
.table-card tbody .fa {
  color: #485965;
}
.table-card tbody .glyphicon {
  color: #485965;
}
.table-card tbody tr {
  cursor: pointer;
}
.table-card tbody tr td:first-child {
  padding: 5px;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid #eaeaea;
}
.table-card tbody tr td:last-child {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid #eaeaea;
}
.table-card tbody tr:last-child td:first-child {
  padding: 5px;
  border-left: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
.table-card tbody tr:last-child td:last-child {
  border-right: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
}
#window-my-profile .col-md-4,
#window-my-profile .col-xs-12 {
  padding-top: 20px;
}
.fa-twitter {
  color: #4099FF;
}
#home-page .row {
  margin: 0;
}
#home-page .home-page-first-row {
  background: linear-gradient(-180deg, rgba(0, 33, 15, 0.7) 0, rgba(0, 33, 15, 0.7) 100%), url(/Content/images/family.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
@media (max-width: 1080px) {
  #home-page .home-page-first-row .chevron-one,
  #home-page .home-page-first-row .chevron-two {
    display: none;
  }
}
#home-page .home-page-first-row .chevron-one,
#home-page .home-page-first-row .chevron-two {
  position: absolute;
  top: 100px;
}
#home-page .home-page-first-row .chevron-one {
  left: 0;
}
#home-page .home-page-first-row .chevron-two {
  right: 0;
}
#home-page .home-page-first-row .btn-primary {
  background-color: #f4792b;
  border: 1px solid #f4792b;
  padding: 7px 35px 7px 35px;
  margin: 10px 0 50px 0;
}
#home-page .home-page-first-row .btn-primary:hover {
  background-color: #f4792b;
  border: 1px solid #f4792b;
  padding: 7px 35px 7px 35px;
  margin: 10px 0 50px 0;
  box-shadow: none;
}
#home-page .home-page-first-row .brand {
  position: absolute;
  top: 20px;
  left: 25px;
}
#home-page .home-page-first-row .desktop-brand {
  background-image: url(/Content/images/CM-LOGO.png);
  background-repeat: no-repeat;
  background-size: cover;
  height: 70px;
  width: 150px;
}
#home-page .home-page-first-row .button-container {
  position: absolute;
  right: 35px;
  top: 35px;
  color: white;
  text-decoration: none;
}
#home-page .home-page-first-row .button-container .home-button-login {
  border: 1px solid white;
  border-radius: 4px;
}
#home-page .home-page-first-row .button-container .home-button {
  padding: 7px 15px 7px 15px;
  color: white;
}
#home-page .home-page-first-row .button-container .home-button:hover {
  text-decoration: none;
}
#home-page .home-page-first-row .button-container a[name='register'] {
  float: left;
}
#home-page .home-page-first-row .button-container a[name='login'],
#home-page .home-page-first-row .button-container a[name='dashboard'] {
  float: left;
}
#home-page .home-page-first-row div:nth-child(2) h1 {
  margin: 105px 10px 30px 10px;
  color: #5cad3a;
}
#home-page .home-page-first-row .better-credit {
  background-color: rgba(211, 228, 196, 0.76);
}
#home-page .home-page-first-row .better-credit h1 {
  color: #00853e;
  margin: 20px 10px 20px 10px;
}
#home-page .home-page-first-row .better-credit i {
  color: #00853e;
}
#home-page .home-page-first-row .better-credit h4 {
  font-weight: bold;
  margin-top: 60px;
}
#home-page .home-page-first-row .better-credit p {
  color: #00853e;
  margin: 0 10px 0 10px;
  font-size: 18px;
}
#home-page .home-page-first-row .better-credit .btn-primary {
  background-color: #00853e;
  border: 1px solid #00853e;
  padding: 7px 35px 7px 35px;
  margin: 10px 0 50px 0;
}
#home-page .home-page-first-row .better-credit .btn-primary:hover {
  background-color: #00853e;
  border: 1px solid #00853e;
  padding: 7px 35px 7px 35px;
  margin: 10px 0 50px 0;
  box-shadow: none;
}
#home-page .home-page-first-row .better-credit input {
  height: 38px;
  border-radius: 0;
}
#home-page .home-page-first-row .better-credit .six-steps h4 {
  margin-top: 55px;
}
#home-page .home-page-first-row .better-credit .col-md-4 {
  padding: 20px;
}
.main-background {
  background: linear-gradient(-180deg, rgba(0, 33, 15, 0.7) 0, rgba(0, 33, 15, 0.7) 100%), url(/Content/images/family.jpg);
  background-repeat: no-repeat;
  background-size: cover;
}
/* #region Notifications */
.notification {
  position: fixed;
  bottom: 0;
  right: 0;
  left: 0;
  color: white;
  font-size: 22px;
  padding-top: 5px;
  padding-bottom: 5px;
  z-index: 9999;
}
.notification-info {
  background-color: #f4792b;
}
.notification-warning {
  background-color: #d9534f;
}
@media (max-width: 991px) {
  .toast,
  #toast-container {
    display: none !important;
  }
}
/* #endregion */
/*#region Register*/
#register-window {
  color: white;
  height: inherit;
}
#register-window .row {
  padding: 8px;
}
#register-window .container {
  margin-bottom: 50px;
}
#register-window .register-card .register-header {
  background-color: #5cad3a;
  border: 1px solid #5cad3a;
  font-size: 16px;
}
#register-window .register-card .register-body {
  margin-bottom: 25px;
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px 1px;
  background-color: rgba(43, 47, 47, 0.7);
}
@media (max-width: 767px) {
  .register-card {
    margin: 0 20px 0 20px;
  }
}
/*#endregion*/
/*#region Responsive Card*/
.main-card-center {
  background-color: rgba(43, 47, 47, 0.7);
  box-shadow: rgba(0, 0, 0, 0.5) 0 1px 2px 1px;
  width: 300px;
  margin: 0 auto;
  margin-top: 100px;
}
.main-card-center .btn {
  width: 100%;
}
.main-card-center .main-card-header {
  font-size: 16px;
  color: white;
  padding-top: 15px;
}
.main-card-center .main-card-body {
  padding: 0 8px 8px;
}
.main-card-center .main-card-body p {
  color: white;
  font-size: 18px;
  margin: 25px 10px;
}
/*#endregion*/
/*#region Forgot Password*/
#forgot-password .main-card-center > div.main-card-body > p,
#reset-password .main-card-center > div.main-card-body > p,
#register-device .main-card-center > div.main-card-body > p {
  margin: 30px 0 20px 0;
  padding: 0;
  color: white;
  font-size: 18px;
}
#forgot-password .reset-question,
#reset-password .reset-question,
#register-device .reset-question {
  color: white;
}
#forgot-password .reset-question-container,
#reset-password .reset-question-container,
#register-device .reset-question-container {
  margin: 15px 0;
}
#forgot-password .forgot-password-invalid,
#reset-password .forgot-password-invalid,
#register-device .forgot-password-invalid,
#forgot-password .reset-password-invalid,
#reset-password .reset-password-invalid,
#register-device .reset-password-invalid {
  background-color: #d9534f;
  color: white;
  border-radius: 0;
  display: block;
  padding: 8px;
  border: none;
}
/*#endregion*/
/*#region Manage Credit Items*/
.credit-bureau-status-toggle label {
  padding: 3px 6px;
}
.credit-bureau-filter-buttons div {
  background-color: #5cad3a;
  margin-bottom: 8px;
}
.mobile-mcr-buttons div {
  background-color: #5cad3a;
  margin-bottom: 1px;
}
.mobile-mcr-buttons,
.credit-bureau-filter-buttons {
  margin: 0 15px;
}
.mobile-mcr-buttons div,
.credit-bureau-filter-buttons div {
  padding: 5px 0;
  color: white;
}
.mobile-mcr-buttons div:nth-child(2),
.credit-bureau-filter-buttons div:nth-child(2) {
  border-left: 1px solid white;
  border-right: 1px solid white;
}
.mobile-mcr-buttons span,
.credit-bureau-filter-buttons span,
.mobile-mcr-buttons a,
.credit-bureau-filter-buttons a {
  display: block;
  cursor: pointer;
  color: white;
}
.mobile-mcr-buttons a:hover,
.credit-bureau-filter-buttons a:hover,
.mobile-mcr-buttons a:active,
.credit-bureau-filter-buttons a:active {
  text-decoration: none;
  color: white;
}
.buttons-header {
  display: block;
  width: inherit;
  background-color: #00853e;
  padding: 3px 0;
  color: white;
  font-size: 16px;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable.drag-left .cm-swipable-right-action {
  display: none;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable.drag-left .cm-swipable-left-action {
  display: block;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable.drag-right .cm-swipable-left-action {
  display: none;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable.drag-right .cm-swipable-right-action {
  display: block;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable.no-drag .cm-swipable-left-action {
  display: none;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable.no-drag .cm-swipable-right-action {
  display: none;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable {
  padding: 15px;
  margin: 0;
  width: 100%;
  height: 100px;
  position: relative;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-drag-overlay {
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 10px 15px;
  width: 100%;
  height: 100px;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-drag-overlay .row div:nth-child(1) {
  float: left;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-drag-overlay .row div:nth-child(2) {
  float: right;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-left-action {
  background-color: #00853e;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-left-action > div {
  width: 25%;
  margin: 22px 0 0 2px;
  font-size: 14px;
  color: white;
  padding: 0 4px;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-right-action > div {
  width: 25%;
  margin: 32px 0 0 2px;
  font-size: 14px;
  color: white;
  padding: 0 4px;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-right-action {
  background-color: #f4792b;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-left-action,
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-right-action {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  height: 100px;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable .row {
  margin: 0;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable > div.row:nth-child(1) {
  font-size: 18px;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable div.row > div:nth-child(1) {
  float: left;
}
#window-management-manage-credit-items #manage-credit-items-table_wrapper > div:nth-child(2) .cm-swipable div.row > div:nth-child(2) {
  float: right;
}
/*#endregion*/
#main-window {
  background-color: white;
  height: 100%;
}
#main-layout-content {
  height: 100vh;
  background-color: white;
}
/*#region My Profile*/
#my-profile-edit-my-information .modal-body > div:nth-child(2) {
  margin-bottom: 20px;
}
/*#endregion*/
/*#region Swipe Widget*/
/*#endregion*/
/*#region Wizards*/
#user-information-wizard-modal div[name='step-one'] .row,
#user-information-wizard-modal div[name='step-two'] .row,
#user-information-wizard-modal div[name='step-three'] .row,
#user-information-wizard-modal div[name='step-four'] .row {
  margin: 15px 0;
}
#user-information-wizard-modal .modal-body {
  padding: 15px 0;
}
#user-information-wizard-modal .modal-body .text-danger {
  font-weight: bold;
}
#user-emails-wizard-modal .row {
  margin: 15px 0;
}
#user-emails-wizard-modal .modal-body {
  padding: 15px 0;
}
#user-emails-wizard-modal input {
  width: 100%;
}
#home-address-content > .modal-body > div:nth-child(2) div {
  margin: 0;
}
#home-address-content > .modal-body > div:nth-child(2) input {
  padding-right: 0;
}
#manage-credit-items-item-modal .dispute-reason .row {
  margin-left: 0;
  margin-right: 0;
}
#manage-credit-items-item-modal .dispute-reason div:nth-child(1) {
  padding: 0;
}
#manage-credit-items-item-modal .dispute-reason div:nth-child(1) label:nth-child(1) {
  padding-top: 0;
  float: left;
}
#manage-credit-items-item-modal .dispute-reason div:nth-child(1) div:nth-child(2) {
  float: right;
}
#manage-credit-items-item-modal .dispute-reason div:nth-child(1) div:nth-child(2) label {
  padding-top: 0;
}
#manage-credit-items-item-modal .dispute-reason div:nth-child(1) div:nth-child(2) input[type='checkbox'] {
  width: 20px !important;
  height: 20px !important;
  float: right;
  margin-top: -3px;
}
#manage-credit-items-item-modal .dispute-reason div:nth-child(2) {
  padding: 0;
}
#manage-credit-items-item-modal .mcr-radio-group {
  height: 60px;
}
#manage-credit-items-item-modal .mcr-radio-group span {
  padding-top: 6px;
  display: inline-block;
  float: left;
}
#manage-credit-items-item-modal .mcr-radio-group span:nth-child(3),
#manage-credit-items-item-modal .mcr-radio-group span:nth-child(5) {
  margin-right: 15px;
}
#manage-credit-items-item-modal .mcr-radio-group label {
  display: block;
  margin-bottom: 2px;
}
#manage-credit-items-item-modal .mcr-radio-group input[type='radio'] {
  height: 25px;
  width: 25px;
  float: left;
  margin-right: 5px;
}
#manage-credit-items-item-modal button {
  color: white;
}
#manage-credit-items-item-modal .row {
  padding: 4px 0;
}
#manage-credit-items-item-modal label {
  display: block;
  font-size: 14px;
  font-weight: normal;
  margin-bottom: 0px !important;
}
#manage-credit-items-item-modal input {
  width: 100%;
}
#manage-credit-items-item-modal #credit-response hr {
  margin: 5px 0;
}
#manage-credit-items-item-modal #credit-response > .row h4 {
  padding-left: 10px;
}
#manage-credit-items-item-modal #credit-response > .row:nth-child(1) .col-sm-3 {
  padding-left: 10px;
  padding-right: 10px;
}
#manage-credit-items-item-modal #credit-response > .row:nth-child(1) .col-sm-3:nth-child(5) button {
  width: 100%;
}
#manage-credit-items-item-modal #credit-response > .row:nth-child(1) .col-sm-3:nth-child(5) button.hidden-xs {
  margin-top: 20px;
}
#manage-credit-items-item-modal #credit-response > .row:nth-child(1) .col-sm-3:nth-child(5) button.hidden-lg.hidden-md.hidden-sm {
  margin-top: 5px;
}
#user-addresses-wizard-modal .modal-body .row {
  margin-top: 8px;
  margin-bottom: 8px;
}
#confirm-modal {
  z-index: 99999;
}
.manage-credit-items-response-row-action span {
  display: block !important;
  padding: 2px 16px;
  cursor: pointer;
}
/*#endregion*/
.credit-items-page .mobile-mcr-buttons div:nth-child(3) {
  border-right: 1px solid white;
}
.credit-items-page .cm-swipable-status {
  position: absolute;
  font-size: 18px;
  font-weight: bold;
  bottom: 0;
  right: 12px;
}
.credit-items-page .cm-swipable-status-deleted {
  color: rgba(255, 1, 1, 0.5);
}
.credit-items-page .cm-swipable-status-positive {
  color: rgba(18, 112, 31, 0.5);
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable.drag-left .cm-swipable-right-action {
  display: none;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable.drag-left .cm-swipable-left-action {
  display: block;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable.drag-right .cm-swipable-left-action {
  display: none;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable.drag-right .cm-swipable-right-action {
  display: block;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable.no-drag .cm-swipable-left-action {
  display: none;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable.no-drag .cm-swipable-right-action {
  display: none;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable-deleted .cm-swipable-drag-overlay {
  background-color: #ffdbdb !important;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable-deleted .cm-swipable-drag-overlay input {
  background-color: #ffdbdb !important;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable-positive .cm-swipable-drag-overlay {
  background-color: #cfffcb !important;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable-positive .cm-swipable-drag-overlay input {
  background-color: #cfffcb !important;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable {
  padding: 15px;
  margin: 0;
  width: 100%;
  height: 75px;
  position: relative;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-drag-overlay {
  position: absolute;
  background-color: white;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  padding: 10px 15px;
  width: 100%;
  height: 75px;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-left-action {
  background-color: #00853e;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-left-action > div {
  width: 25%;
  margin: 22px 0 0 2px;
  font-size: 14px;
  color: white;
  padding: 0 4px;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-right-action > div {
  width: 25%;
  margin: 22px 0 0 2px;
  font-size: 14px;
  color: white;
  padding: 0 4px;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-right-action {
  background-color: #f4792b;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-left-action,
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable .cm-swipable-right-action {
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  margin: 0;
  width: 100%;
  text-align: center;
  height: 75px;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable .row {
  margin: 0;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable > div.row:nth-child(1) {
  font-size: 18px;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable div.row > div:nth-child(1) {
  float: left;
}
.credit-items-page .dataTables_wrapper > div:nth-child(2) .cm-swipable div.row > div:nth-child(2) {
  float: right;
}
ai-dialog {
  padding: 5px 0 15px 0;
}
ai-dialog h2,
ai-dialog p,
ai-dialog ai-dialog-footer {
  margin-left: 15px;
  margin-right: 15px;
}
.no-margin {
  margin: 0 !important;
}
#register-security-questions-modal .questions-body {
  margin: 0 10px;
}
.loading-screen {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  z-index: 9999999999;
  background-color: rgba(0, 0, 0, 0.5);
}
.loading-screen img {
  position: absolute;
  top: 50%;
  left: 50%;
  background-color: transparent;
  height: 30px;
  width: 50px;
}
