<template>
    <div id="home-page">
        <div class="row home-page-first-row">
            <div class="row">
                <div class="brand desktop-brand hidden-xs"></div>
                <div class="brand mobile-brand hidden-lg hidden-md hidden-sm"></div>

                <div class="button-container">
                    <a href="/#/Register" name="register" class="home-button home-button-register">Register</a>
                    <a href="/#/Login" name="login" class="home-button home-button-login text-center" css.bind="{display:loginDisplay}">Log In</a>
                    <a href="/#/Management/Courses" name="dashboard" class="home-button home-button-login" css.bind="{display:dashboardDisplay}">Dashboard</a>
                </div>

            </div>
            <div class="row text-center">
                <h1>BETTER CREDIT. BETTER LIFE. START BY FIXING IT.</h1>
                <a class="btn btn-primary">DO-IT YOURSELF</a>
            </div>
            <div class="row text-center better-credit">
                <h1>WANT AN EVEN BETTER CREDIT SCORE?</h1>
            </div>
            <div class="row text-center better-credit">
                <div class="col-md-4 text-center">
                    <h4>7 STEPS TO BETTER CREDIT</h4>
                    <p>A Free Video Course That Helps You Learn Credit - THE EASY WAY</p>
                </div>
                <div class="col-md-4">
                    <i class="fa fa-chevron-right fa-3x chevron-one"></i>
                    <i class="fa fa-chevron-right fa-3x chevron-two"></i>
                    <h5>Watch The First Step</h5>
                    <iframe src="https://www.youtube.com/embed/hqiNL4Hn04A" frameborder="0" allowfullscreen></iframe>
                </div>
                <div class="col-md-4 six-steps">
                    <h4>GET THE OTHER 6 STEPS</h4>
                    <input type="text" class="form-control" placeholder="Email Address">
                    <button class="btn btn-primary" type="button">GET THE OTHER 6 STEPS</button>
                </div>
            </div>
        </div>
        <div class="row home-page-second-row">
            <h3>Real Client Results</h3>
        </div>
        <div class="row home-page-second-third">
            <h1>WHAT DO YOU NEED?</h1>
        </div>
    </div>
</template>