<template>
    <div id="login-window" class="container-full main-background window">

        <div class="row text-center brand-row">
            <div class="brand desktop-brand hidden-xs hidden-sm"></div>
            <div class="brand mobile-brand hidden-lg hidden-md"></div>
        </div>
        <div class="row text-center">
            <div class="row login-card">
                <div class="login-card-header">Log In</div>
                <div class="login-message" css.bind="{display: loginMessageDisplay}">${loginMessage}</div>
                <form class="login-card-contents" submit.delegate="submit()">
                    <div class="input-group input-group-flat v-error" id="login-username-validate">
                        <input type="text" class="form-control" placeholder="Email Address" value.bind="username & validate" aria-describedby="login-username"
                        />
                        <span class="input-group-addon" id="login-username"><i class="fa fa-asterisk"></i></span>
                    </div>
                    <div class="input-group input-group-flat v-error" id="login-password-validate">
                        <input type="password" class="form-control" placeholder="Password" value.bind="password & validate" aria-describedby="login-password"
                        />
                        <span class="input-group-addon" id="login-password"><i class="fa fa-asterisk"></i></span>
                    </div>
                    <div class="input-group input-group-flat v-error" id="login-pin-validate" css.bind="{display:pinDisplay}">
                        <input type="password" class="form-control" placeholder="Verification Code" value.bind="pin & validate" aria-describedby="login-pin"
                        />
                        <span class="input-group-addon" id="login-pin"><i class="fa fa-asterisk"></i></span>
                    </div>
                    <div class="row login-options">
                        <div class="col-xs-12 login-options-remember-me">
                            <input type="checkbox" id="login-remember-me" class="form-control" checked.bind="rememberMe" />
                            <span for="login-remember-me">&nbsp;&nbsp;Remember Me</span>
                        </div>
                    </div>
                    <button type="submit" class="btn btn-primary" css.bind="{display: loginDisplay}">Submit</button>
                    <button type="submit" class="btn btn-primary" click.trigger="verifyPin()" css.bind="{display: pinDisplay}">Verify Device</button>
                </form>
            </div>
            <div class="row login-help">
                <div class="col-xs-6">
                    <div class="login-help-left">
                        <a href="#/ForgotUsername">Forgot Username</a>
                    </div>

                </div>
                <div class="col-xs-6">
                    <div class="login-help-right">
                        <a href="#/ForgotPassword">Forgot Password</a>
                    </div>
                </div>
            </div>
            <div class="row login-help">
                <div class="col-xs-12">
                    <div class="login-help">
                        <a click.trigger="resendRegistrationEmail()">Resend Registration Email</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</template>