<template>
    <div id="main-layout-page">
        <div class="drawer hidden-lg hidden-md" id="mobile-drawer">
            <div class="drawer-header">

            </div>

            <div class="profile-message">
                <i class="fa fa-exclamation-triangle fa-2x" title="Test"></i>
                <span>Profile Incomplete</span>
            </div>
            <ul name="drawer-nav-items">
                <li><a href="#/Management/ManageCreditItems">Manage Credit Items</a></li>
                <li><a href="#/Management/LinkedProfessional">Linked Professional</a></li>
                <li><a href="#/Management/StallLetters">Stall Letters</a></li>
                <li><a href="#/Management/CreditCards">Credit Cards</a></li>
                <li><a href="#/Management/HelpfulVideos">Helpful Videos</a></li>
                <li><a href="#/Management/EstablishAccounts">Establish Accounts</a></li>
                <li><a href="#/Management/ResolvingCDS">Resolving CDS</a></li>
                <li><a href="#/Management/TrackingDisputeActivity">Tracking Dispute Activity</a></li>
            </ul>
            <div class="text-center">
                <button class="btn btn-danger log-out">Log Out</button>
            </div>
        </div>

        <div class="drawer hidden-sm hidden-xs" id="desktop-drawer">
            <div class="drawer-header">

            </div>
            <div class="profile-message">
                <i class="fa fa-exclamation-triangle fa-2x" title="Test"></i>
                <span>Profile Incomplete</span>
            </div>
            <ul>
                <li li.call="drawerNavigate($event)">Manage Credit Items</li>
                <li click.trigger="drawerNavigate($event)">Linked Professional</li>
                <li click.trigger="drawerNavigate($event)">Stall Letters</li>
                <li click.trigger="drawerNavigate($event)">Credit Cards</li>
                <li click.trigger="drawerNavigate($event)">Helpful Videos</li>
                <li click.trigger="drawerNavigate($event)">Establish Accounts</li>
                <li click.trigger="drawerNavigate($event)">Resolving CDS</li>
                <li click.trigger="drawerNavigate($event)">Tracking Dispute Activity</li>
            </ul>
            <div class="text-center">
                <button class="btn btn-danger log-out" click.trigger="logout()">Log Out</button>
            </div>
        </div>

        <div class="container-full" id="main-layout-content">
            <div id="drawer-trigger" class="hidden-lg hidden-md">
                <div class="drawer-line"></div>
                <div class="drawer-line"></div>
                <div class="drawer-line"></div>
            </div>
            <!--Desktop-->
            <div class="page-header-row-desktop hidden-sm hidden-xs">

                <div class="user-profile-desktop" id="user-profile-desktop">
                    <div>
                        <i class="fa fa-user fa-5x"></i>
                    </div>
                    <div class="text-center">
                        <div class="username"></div>
                        <div class="profile-and-settings">Profile & Settings</div>
                    </div>
                </div>
            </div>
            <!--End Desktop-->
            <!--Mobile-->
            <div class="page-header-row-mobile hidden-lg hidden-md">

                <a class="header-button-no-border" href="/">
                    <img alt="Credit Matters" src="/Content/images/CM-Green-Circles.png" width="43" height="43" />
                </a>
                <a class="text-center header-button-mobile" href="#/Management/MyProfile">
                    <i class="fa fa-user fa-3x"></i>
                </a>
                <div id="layout-admin-options"></div>

            </div>
            <!--End Mobile-->
            <div class="page-content-row container-full">
                <slot name="page-content"></slot>
            </div>
        </div>

    </div>

    <slot name="scripts"></slot>

    <!-- Templates -->
    <script type="text/x-kendo-template" id="mobile-notification">
        <div class="notification hidden-lg hidden-md text-center">
            <span class="notification-message">#= message #</span>
        </div>
    </script>

    <script type="text/x-kendo-template" id="profile-message">
        <div class="profile-message">
            <i class="fa fa-exclamation-triangle fa-2x" title="#=title#"></i>
            <span>#=message#</span>
        </div>
    </script>

    <script type="text/x-kendo-template" id="layout-header-desktop">

        <div class="user-profile-desktop" id="user-profile-desktop" data-bind="click:userProfileClick">
            <div>
                <i class="fa fa-user fa-5x"></i>
            </div>
            <div class="text-center">
                <div class="username" data-bind="html:userLoggedInMessage"></div>
                <div class="profile-and-settings">Profile & Settings</div>
            </div>
        </div>

    </script>

    <script type="text/x-kendo-template" id="layout-header-mobile-admin-options">

        <a class="text-center header-button-mobile" href="#:url#">
            <i class="fa fa-shield fa-3x"></i>
        </a>

    </script>

    <script type="text/x-kendo-template" id="manage-credit-items-response-row-action">
        <div class="manage-credit-items-response-row-action">
            <span action="delete" data-id="#=dataId#"><i class="fa fa-trash"></i></span>
        </div>
    </script>


    <!-- Address Modal -->
    <div class="modal fade" id="user-addresses-wizard-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-lg">
            <!--Home Address-->
            <div class="modal-content" id="home-address-content" data-bind="style:{display:stepOne.display}">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Home Address</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-sm-6">
                            <div class="form-group has-feedback" style="margin-bottom: 0;" id="address-wizard-home-address-line-one">
                                <label>Address 1</label>
                                <input type="text" class="form-control" data-bind="value:stepOne.addressLine1" placeholder="Address" />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group has-feedback" style="margin-bottom: 0;" id="address-wizard-home-address-line-two">
                                <label>Address 2</label>
                                <input type="text" class="form-control" data-bind="value:stepOne.addressLine2" placeholder="Address" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-5">
                            <div class="form-group has-feedback" style="margin-bottom: 0;" id="address-wizard-home-address-city">
                                <label>City</label>
                                <input type="text" class="form-control" data-bind="value:stepOne.city" placeholder="City" />
                            </div>
                        </div>
                        <div class="col-xs-3 kendo-dropdown-parent">
                            <select id="home-address-wizard-state" data-bind="value:stepOne.stateId"></select>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group has-feedback" style="margin-bottom: 0;" id="address-wizard-home-address-line-zip">
                                <label>Zip</label>
                                <input type="tel" class="form-control" data-bind="value:stepOne.zip" placeholder="Zip" />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Cancel</button>
                    <button type="button" class="btn btn-success pull-right" current-step="1" data-bind="click:nextStep"><i class="fa fa-forward"></i>&nbsp;Next</button>
                </div>
            </div>
            <!--Home Address-->

            <!--Past Two Years Address-->
            <div class="modal-content" id="previous-address-content" data-bind="style:{display:stepTwo.display}">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Previous Address</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-lg-12">
                            <label>Have you lived at your current address for less that two years?&emsp;</label>
                            <input type="checkbox" id="previous-address-switch" data-bind="events:{change:stepTwo.toggleAddressInputs}" />
                        </div>
                    </div>
                    <div class="row" data-bind="style:{display:stepTwo.fieldsDisplay}">
                        <div class="col-sm-6">
                            <div class="form-group has-feedback" style="margin-bottom: 0;" id="address-wizard-previous-address-line-one">
                                <label>Address 1</label>
                                <input type="text" class="form-control" data-bind="value:stepTwo.addressLine1, readonly:stepTwo.areInputsReadonly" placeholder="Address"
                                />
                            </div>
                        </div>
                        <div class="col-sm-6">
                            <div class="form-group has-feedback" style="margin-bottom: 0;" id="address-wizard-previous-address-line-two">
                                <label>Address 2</label>
                                <input type="text" class="form-control" data-bind="value:stepTwo.addressLine2, readonly:stepTwo.areInputsReadonly" placeholder="Address"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="style:{display:stepTwo.fieldsDisplay}">
                        <div class="col-xs-5">
                            <div class="form-group has-feedback" style="margin-bottom: 0;" id="address-wizard-previous-address-city">
                                <label>City</label>
                                <input type="text" class="form-control" data-bind="value:stepTwo.city, readonly:stepTwo.areInputsReadonly" placeholder="City"
                                />
                            </div>
                        </div>
                        <div class="col-xs-3 kendo-dropdown-parent">
                            <select id="previous-address-wizard-state" data-bind="value:stepTwo.stateId"></select>
                        </div>
                        <div class="col-xs-4">
                            <div class="form-group has-feedback" style="margin-bottom: 0;" id="address-wizard-previous-address-line-zip">
                                <label>Zip</label>
                                <input type="tel" class="form-control" data-bind="value:stepTwo.zip, readonly:stepTwo.areInputsReadonly" placeholder="Zip"
                                />
                            </div>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Cancel</button>
                    <button type="button" class="btn btn-success pull-right" current-step="2" data-bind="click:nextStep"><i class="fa fa-forward"></i>&nbsp;Next</button>
                    <button type="button" class="btn btn-success pull-right" current-step="2" data-bind="click:previousStep"><i class="fa fa-backward"></i>&nbsp;Back</button>
                </div>
            </div>
            <!--Past Two Years Address-->
            <!--Mailing Address-->
        </div>
    </div>

    <!--Phone Numbers Mobal-->
    <div class="modal fade" id="user-information-wizard-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <!--Step One-->
            <div class="modal-content" data-bind="style:{display:stepOne.display}" name="step-one">
                <div class="modal-header">
                    <h4 class="modal-title">Step 1: Edit Mobile Phone</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <span>Do you have a mobile phone?</span>&emsp;
                            <input type="checkbox" id="has-mobile-number-switch" data-bind="checked:stepOne.hasNumber" />
                        </div>
                    </div>
                    <div class="row" data-bind="style:{display:stepOne.numberDisplay}">
                        <div class="col-xs-12">
                            <div class="form-group has-feedback phone-number" style="margin-bottom: 0;" id="phone-wizard-mobile-number">
                                <label>Mobile Number</label>
                                <input type="tel" class="form-control" data-bind="value:stepOne.number" placeholder="(555) 555-5555" data-value-update="keyup"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="style:{display:stepOne.numberDisplay}">
                        <div class="col-xs-12">
                            <span>Is this your primary number?</span>&emsp;
                            <input type="checkbox" id="is-primary-number-mobile" data-bind="checked:stepOne.isPrimaryNumber" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Cancel</button>
                    <button type="button" class="btn btn-success pull-right" current-step="1" data-bind="click:nextStep"><i class="fa fa-forward"></i>&nbsp;Next</button>
                </div>
            </div>
            <!--Step One End-->
            <!--Step Two-->
            <div class="modal-content" data-bind="style:{display:stepTwo.display}" name="step-two">
                <div class="modal-header">
                    <h4 class="modal-title">Step 2: Edit Home Phone</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <span>Do you have a home phone?</span>&emsp;
                            <input type="checkbox" id="has-home-number-switch" data-bind="checked:stepTwo.hasNumber" />
                        </div>
                    </div>
                    <div class="row" data-bind="style:{display:stepTwo.numberDisplay}">
                        <div class="col-xs-12">
                            <div class="form-group has-feedback phone-number" style="margin-bottom: 0;" id="phone-wizard-home-number">
                                <label>Home Number</label>
                                <input type="tel" class="form-control" data-bind="value:stepTwo.number" placeholder="(555) 555-5555" data-value-update="keyup"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="style:{display:stepTwo.numberDisplay}">
                        <div class="col-xs-12">
                            <span>Is this your primary number?</span>&emsp;
                            <input type="checkbox" id="is-primary-number-home" data-bind="checked:stepTwo.isPrimaryNumber" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Cancel</button>
                    <button type="button" class="btn btn-success pull-right" current-step="2" data-bind="click:nextStep"><i class="fa fa-forward"></i>&nbsp;Next</button>
                    <button type="button" class="btn btn-success pull-right" current-step="2" data-bind="click:previousStep"><i class="fa fa-backward"></i>&nbsp;Back</button>
                </div>
            </div>
            <!--Step Two End-->
            <!--Step Three-->
            <div class="modal-content" data-bind="style:{display:stepThree.display}" name="step-three">
                <div class="modal-header">
                    <h4 class="modal-title">Step 3: Edit Work Phone</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <span>Do you have a work phone?</span>&emsp;
                            <input type="checkbox" id="has-work-number-switch" data-bind="checked:stepThree.hasNumber" />
                        </div>
                    </div>
                    <div class="row" data-bind="style:{display:stepThree.numberDisplay}">
                        <div class="col-xs-12">
                            <div class="form-group has-feedback phone-number" style="margin-bottom: 0;" id="phone-wizard-work-number">
                                <label>Work Number</label>
                                <input type="tel" class="form-control" data-bind="value:stepThree.number" placeholder="(555) 555-5555" data-value-update="keyup"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row" data-bind="style:{display:stepThree.numberDisplay}">
                        <div class="col-xs-12">
                            <span>Is this your primary number?</span>&emsp;
                            <input type="checkbox" id="is-primary-number-work" data-bind="checked:stepThree.isPrimaryNumber" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Cancel</button>
                    <button type="button" class="btn btn-success pull-right" current-step="3" data-bind="click:nextStep"><i class="fa fa-forward"></i>&nbsp;Next</button>
                    <button type="button" class="btn btn-success pull-right" current-step="3" data-bind="click:previousStep"><i class="fa fa-backward"></i>&nbsp;Back</button>
                </div>
            </div>
            <!--Step Three End-->
            <!--Step Overview-->
            <div class="modal-content" data-bind="style:{display:stepFour.display}" name="step-four">
                <div class="modal-header">
                    <h4 class="modal-title">Step 4: Save Changes</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12 text-center">
                            <p>Make sure everything looks correct before saving changes.</p>
                        </div>
                    </div>
                    <div class="row" data-bind="style:{display:hasMobileNumberDisplay}">
                        <div class="col-xs-12">
                            <label>Mobile Number<small data-bind="style:{display:stepOne.isPrimaryNumberDisplay}">&emsp;<i>(PRMIARY)</i></small></label>
                            <input type="text" class="form-control" data-bind="value:stepOne.number" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row" data-bind="style:{display:hasHomeNumberDisplay}">
                        <div class="col-xs-12">
                            <label>Home Number<small data-bind="style:{display:stepTwo.isPrimaryNumberDisplay}">&emsp;<i>(PRMIARY)</i></small></label>
                            <input type="text" class="form-control" data-bind="value:stepTwo.number" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row" data-bind="style:{display:hasWorkNumberDisplay}">
                        <div class="col-xs-12">
                            <label>Work Number<small data-bind="style:{display:stepThree.isPrimaryNumberDisplay}">&emsp;<i>(PRMIARY)</i></small></label>
                            <input type="text" class="form-control" data-bind="value:stepThree.number" readonly="readonly" />
                        </div>
                    </div>
                    <div class="row" data-bind="style:{display:noNumbersDisplay}">
                        <div class="col-xs-12 text-center">
                            <p class="text-danger">
                                No numbers entered. Please note any phone numbers on file will be removed upon saving.
                            </p>
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Cancel</button>
                    <button type="button" class="btn btn-success pull-right" current-step="4" data-bind="click:save"><i class="fa fa-check"></i>&nbsp;Save</button>
                    <button type="button" class="btn btn-success pull-right" current-step="4" data-bind="click:previousStep"><i class="fa fa-backward"></i>&nbsp;Back</button>
                </div>
            </div>
            <!--Step Overview End-->
        </div>
    </div>

    <!--Emails Modal-->
    <div class="modal fade" id="user-emails-wizard-modal" tabindex="-1" role="dialog" data-backdrop="static" data-keyboard="false">
        <div class="modal-dialog modal-md">
            <div class="modal-content">
                <div class="modal-header">
                    <h4 class="modal-title">Edit Email Address</h4>
                </div>
                <div class="modal-body">
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" style="margin-bottom: 0;" id="email-wizard-primary-email-address">
                                <label>Primary Email Address</label>
                                <input type="email" class="form-control" data-bind="value:primaryEmailAddress" placeholder="sample@email.com" readonly="readonly"
                                />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <div class="form-group has-feedback" style="margin-bottom: 0;" id="email-wizard-alternate-email-address">
                                <label>Alternate Email Address</label>
                                <input type="email" class="form-control" data-bind="value:alternateEmailAddress" placeholder="sample@email.com" />
                            </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-xs-12">
                            <label>I would like to receive emails from credit matters&emsp;</label>
                            <input type="checkbox" id="receive-offers-switch" />
                        </div>
                    </div>
                </div>
                <div class="modal-footer">
                    <button type="button" class="btn btn-danger pull-left" data-dismiss="modal"><i class="fa fa-close"></i>&nbsp;Cancel</button>
                    <button type="button" class="btn btn-success pull-right" data-bind="click:save"><i class="fa fa-check"></i>&nbsp;Save</button>
                </div>
            </div>
        </div>
    </div>
</template>