<template>
    <div class="container-full" id="window-tracking-dispute-activity" slot="page-content">
        <h3 class="cm-page-header">Tracking Dispute Activity</h3>

        <div class="row text-center">
            <span class="buttons-header">Create CDS Letter</span>
            <div class="hidden-lg row credit-bureau-filter-buttons">
                <div class="col-xs-4 text-center">
                    <a href="/#/Management/TransUnionCreditItems"><i class="fa fa-envelope-o"></i>&nbsp;TransUnion</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="/#/Management/EquifaxCreditItems"><i class="fa fa-envelope-o"></i>&nbsp;Equifax</a>
                </div>
                <div class="col-xs-4 text-center">
                    <a href="/#/Management/ExperianCreditItems"><i class="fa fa-envelope-o"></i>&nbsp;Experian</a>
                </div>
            </div>
        </div>

        <div class="row text-center">
            <span class="buttons-header">Grid Actions</span>
            <div class="hidden-lg row mobile-mcr-buttons">
                <div class="col-xs-4 text-center"><span click.delegate="addItem()"><i class="fa fa-plus-square-o"></i>&nbsp;Add Item</span></div>
                <div class="col-xs-4 text-center"><span><i class="fa fa-map-o"></i>&nbsp;How To</span></div>
                <div class="col-xs-4 text-center hidden-xs"><span data-bind="click:createLetter"><i class="fa fa-envelope-o"></i>&nbsp;Create Letter</span></div>
                <div class="col-xs-4 text-center hidden-lg hidden-md hidden-sm"><span data-bind="click:createLetter"><i class="fa fa-envelope-o"></i>&nbsp;Create...</span></div>
            </div>
            <table id="resolving-cds-table" class="display" style="width: 100%;"></table>
        </div>
    </div>
    <section slot="scripts">


    </section>
</template>